<% provide(:title, "About")%>
<h1>About</h1>
<p>
    The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
    is a <a href="http://www.railstutorial.org/book">book</a> and
    <a href ="http://screencasts.railstutorial.org/">screencas series</a>
    to teach web developmentn with
    <a href = "http://rubyonrails.org/">Ruby on Rails</a>.
    This is a sdsdsdsd sample application for the tutorial.
    </p>

