<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h5>
<%= yield %>
<p>
  Navigation:
  <%= link_to "Home",static_pages_home_path%>
  <%= link_to "Help",static_pages_help_path%>
  <%= link_to "About",static_pages_about_path%>
  <%= link_to "Contact",static_pages_contact_path%>
</p>
</h5>
</body>
</html>
